<!-- Airbrushed background blobs (shared by all layouts) -->
<!-- Static blobs -->
<div class="blobs">
  <div class="blob" style="width:380px;height:300px;background:#7A9AB8;top:-6%;left:-5%;"></div>
  <div class="blob" style="width:300px;height:240px;background:#6888A8;top:30%;left:-3%;"></div>
  <div class="blob" style="width:340px;height:260px;background:#5C7EA0;bottom:-5%;left:3%;"></div>
  <div class="blob" style="width:440px;height:220px;background:#7090B0;bottom:-3%;left:30%;"></div>
  <div class="blob" style="width:360px;height:280px;background:#6484A4;bottom:-6%;right:-3%;"></div>
  <div class="blob" style="width:280px;height:320px;background:#5878A0;top:40%;right:-2%;"></div>
  <div class="blob" style="width:320px;height:240px;background:#6C8CB0;top:16%;right:10%;"></div>
  <div class="blob" style="width:260px;height:200px;background:#7494B4;top:55%;left:14%;"></div>
  <div class="blob" style="width:220px;height:180px;background:#6080A8;top:65%;left:40%;"></div>
  <div class="blob" style="width:280px;height:200px;background:#6C90B0;top:8%;left:36%;"></div>
</div>
