<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          },
          svg: {
            fontCache: 'global'
          }
        };
      </script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1> -->

        <img src="{{ '../assets/img/IMG_8070.jpg' | relative_url }}" alt="Logo" />

        <p>{{ site.description }}</p>

        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        <!-- <a href="https://scholar.google.com/citations?user=drP5-oIAAAAJ&hl">Scholar</a>  &nbsp;&nbsp;&nbsp;  <a href="https://github.com/pwcannon">GitHub</a>  &nbsp;&nbsp;&nbsp;  <a href="https://www.linkedin.com/in/patrick-cannon/">LinkedIn</a> &nbsp;&nbsp;&nbsp; <a href="https://twitter.com/pw_cannon">Twitter</a> -->


        <!-- <a href="https://scholar.google.com/citations?user=drP5-oIAAAAJ&hl" style="color: rgb(190, 184, 191);">Scholar</a> &nbsp;&nbsp;&nbsp;
        <a href="https://github.com/pwcannon" style="color: rgb(190, 184, 191);">GitHub</a> &nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/patrick-cannon/" style="color: rgb(190, 184, 191);">LinkedIn</a> &nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/pw_cannon" style="color: rgb(190, 184, 191);">Twitter</a> -->


        <!-- {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %} -->




      </header>
      <section>
      <!-- <span style="display: block; margin-top: 20px;"></span> -->

      {{ content }}

      <div class="link-container">
        <a href="../index.html" style = "color: rgb(142, 63, 151);">
            <img src="./assets/img/computer_explorer_cool-0.png" alt="95PC" width="40" style="position: relative; top: 10px;">
            <span class="link-text">&nbsp;&nbsp;&nbsp; Back to home page</span>
        </a>
    </div>
    
      </section>
      <footer>
        <!-- {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
